<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>999</string>
		<key>value</key>
		<string>Expected delivery time (days)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>3</string>
		<key>value</key>
		<string>3 days or less</string>
	</dict>
	<dict>
		<key>code</key>
		<string>7</string>
		<key>value</key>
		<string>7 days or less</string>
	</dict>
	<dict>
		<key>code</key>
		<string>14</string>
		<key>value</key>
		<string>14 days or less</string>
	</dict>
</array>
</plist>
