<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>AFAFG</string>
		<key>value</key>
		<string>Afghanistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ALALB</string>
		<key>value</key>
		<string>Albania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DZALG</string>
		<key>value</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ASSAA</string>
		<key>value</key>
		<string>American Samoa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ADAND</string>
		<key>value</key>
		<string>Andorra</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AOANG</string>
		<key>value</key>
		<string>Angola</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AIAGU</string>
		<key>value</key>
		<string>Anguilla</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AGANT</string>
		<key>value</key>
		<string>Antigua and Barbuda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ARARG</string>
		<key>value</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AMARM</string>
		<key>value</key>
		<string>Armenia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AWARA</string>
		<key>value</key>
		<string>Aruba</string>
	</dict>
	<dict>
		<key>code</key>
		<string>00ASC</string>
		<key>value</key>
		<string>Ascension (British)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AUAUS</string>
		<key>value</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ATAUT</string>
		<key>value</key>
		<string>Austria</string>
	</dict>
	<dict>
		<key>code</key>
		<string>AZAZE</string>
		<key>value</key>
		<string>Azerbaijan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BSBHS</string>
		<key>value</key>
		<string>Bahamas</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BHBHN</string>
		<key>value</key>
		<string>Bahrain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BDBAN</string>
		<key>value</key>
		<string>Bangladesh</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BBBAR</string>
		<key>value</key>
		<string>Barbados</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BYBAL</string>
		<key>value</key>
		<string>Belarus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BEBEL</string>
		<key>value</key>
		<string>Belgium</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BZBLZ</string>
		<key>value</key>
		<string>Belize</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BJBEN</string>
		<key>value</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BMBER</string>
		<key>value</key>
		<string>Bermuda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BTBHU</string>
		<key>value</key>
		<string>Bhutan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BOBOL</string>
		<key>value</key>
		<string>Bolivia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BABOS</string>
		<key>value</key>
		<string>Bosnia Herzegovina</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BWBOT</string>
		<key>value</key>
		<string>Botswana</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BRBRA</string>
		<key>value</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BNBRU</string>
		<key>value</key>
		<string>Brunei Darussalam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BGBUL</string>
		<key>value</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BFBFA</string>
		<key>value</key>
		<string>Burkina Faso</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BIBDI</string>
		<key>value</key>
		<string>Burundi</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KHKAM</string>
		<key>value</key>
		<string>Cambodia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CMCAM</string>
		<key>value</key>
		<string>Cameroon</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CACAN</string>
		<key>value</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ESCNY</string>
		<key>value</key>
		<string>Canary Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CVCVE</string>
		<key>value</key>
		<string>Cape Verde</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KYCAY</string>
		<key>value</key>
		<string>Cayman Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CFCAF</string>
		<key>value</key>
		<string>Central African Republic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TDCHD</string>
		<key>value</key>
		<string>Chad</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CLCHL</string>
		<key>value</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CNCNA</string>
		<key>value</key>
		<string>China (People&apos;s Rep)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>COCOL</string>
		<key>value</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KMCOM</string>
		<key>value</key>
		<string>Comoros</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CGCON</string>
		<key>value</key>
		<string>Congo</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CKCOI</string>
		<key>value</key>
		<string>Cook Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CRCRI</string>
		<key>value</key>
		<string>Costa Rica</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CI000</string>
		<key>value</key>
		<string>Cote d Ivoire</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HRCRO</string>
		<key>value</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CUCUB</string>
		<key>value</key>
		<string>Cuba</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CW000</string>
		<key>value</key>
		<string>Curacao</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CYCYP</string>
		<key>value</key>
		<string>Cyprus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CZCZE</string>
		<key>value</key>
		<string>Czech Republic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CDZAI</string>
		<key>value</key>
		<string>Democratic Republic of Congo</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DKDEN</string>
		<key>value</key>
		<string>Denmark</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DJDJI</string>
		<key>value</key>
		<string>Djibouti</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DMDCA</string>
		<key>value</key>
		<string>Dominica</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DODAN</string>
		<key>value</key>
		<string>Dominican Republic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ECECU</string>
		<key>value</key>
		<string>Ecuador</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EGEGY</string>
		<key>value</key>
		<string>Egypt</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SVESA</string>
		<key>value</key>
		<string>El Salvador</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GQEGU</string>
		<key>value</key>
		<string>Equatorial Guinea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ERERI</string>
		<key>value</key>
		<string>Eritrea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EEEST</string>
		<key>value</key>
		<string>Estonia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ETETH</string>
		<key>value</key>
		<string>Ethiopia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FKFAL</string>
		<key>value</key>
		<string>Falkland Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FOFAE</string>
		<key>value</key>
		<string>Faroe Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FJFIJ</string>
		<key>value</key>
		<string>Fiji</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FIFIN</string>
		<key>value</key>
		<string>Finland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FRFRA</string>
		<key>value</key>
		<string>France</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GFFGU</string>
		<key>value</key>
		<string>French Guiana</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PFFPO</string>
		<key>value</key>
		<string>French Polynesia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GAGAB</string>
		<key>value</key>
		<string>Gabon</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GMGAM</string>
		<key>value</key>
		<string>Gambia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GEGIA</string>
		<key>value</key>
		<string>Georgia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DEGFR</string>
		<key>value</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GHGHA</string>
		<key>value</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GIGIB</string>
		<key>value</key>
		<string>Gibraltar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GRGRE</string>
		<key>value</key>
		<string>Greece</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GLGLD</string>
		<key>value</key>
		<string>Greenland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GDGDA</string>
		<key>value</key>
		<string>Grenada</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GP000</string>
		<key>value</key>
		<string>Guadeloupe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GUGUA</string>
		<key>value</key>
		<string>Guam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GTGTM</string>
		<key>value</key>
		<string>Guatemala</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GGGU1</string>
		<key>value</key>
		<string>Guernsey</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GNGPR</string>
		<key>value</key>
		<string>Guinea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GWGBI</string>
		<key>value</key>
		<string>Guinea -Bissau</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GYGUY</string>
		<key>value</key>
		<string>Guyana</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HTHAI</string>
		<key>value</key>
		<string>Haiti</string>
	</dict>
	
	<dict>
		<key>code</key>
		<string>HNHON</string>
		<key>value</key>
		<string>Honduras</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HKHKG</string>
		<key>value</key>
		<string>Hong Kong</string>
	</dict>
	<dict>
		<key>code</key>
		<string>HUHUN</string>
		<key>value</key>
		<string>Hungary</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ISICE</string>
		<key>value</key>
		<string>Iceland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ININD</string>
		<key>value</key>
		<string>India</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IDIDA</string>
		<key>value</key>
		<string>Indonesia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IRIRN</string>
		<key>value</key>
		<string>Iran (the Islamic Republic of)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>00IRQ</string>
		<key>value</key>
		<string>Iraq</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IEIRE</string>
		<key>value</key>
		<string>Ireland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ILISR</string>
		<key>value</key>
		<string>Israel</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ITITA</string>
		<key>value</key>
		<string>Italy</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JMJAM</string>
		<key>value</key>
		<string>Jamaica</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JPJPN</string>
		<key>value</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JEJE1</string>
		<key>value</key>
		<string>Jersey Island</string>
	</dict>
	<dict>
		<key>code</key>
		<string>JOJOR</string>
		<key>value</key>
		<string>Jordan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KZKAZ</string>
		<key>value</key>
		<string>Kazakhstan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KEKEN</string>
		<key>value</key>
		<string>Kenya</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KIKIR</string>
		<key>value</key>
		<string>Kiribati</string>
	</dict>
	
	
	<dict>
		<key>code</key>
		<string>KWKUW</string>
		<key>value</key>
		<string>Kuwait</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KGKYR</string>
		<key>value</key>
		<string>Kyrghyzstan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LALAO</string>
		<key>value</key>
		<string>Lao (People Dem Rep)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LVLAT</string>
		<key>value</key>
		<string>Latvia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LBLEB</string>
		<key>value</key>
		<string>Lebanon</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LSLES</string>
		<key>value</key>
		<string>Lesotho</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LRLIB</string>
		<key>value</key>
		<string>Liberia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LYLYA</string>
		<key>value</key>
		<string>Libya</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LILIE</string>
		<key>value</key>
		<string>Liechtenstein</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LTLIT</string>
		<key>value</key>
		<string>Lithuania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LULUX</string>
		<key>value</key>
		<string>Luxembourg</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MOMAC</string>
		<key>value</key>
		<string>Macau</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MKMCA</string>
		<key>value</key>
		<string>Macedonia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MGMDG</string>
		<key>value</key>
		<string>Madagascar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PTMDE</string>
		<key>value</key>
		<string>Madeira Island</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MWMWI</string>
		<key>value</key>
		<string>Malawi</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MYMAS</string>
		<key>value</key>
		<string>Malaysia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MVMDV</string>
		<key>value</key>
		<string>Maldives</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MLMLI</string>
		<key>value</key>
		<string>Mali</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MTMLT</string>
		<key>value</key>
		<string>Malta</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MP000</string>
		<key>value</key>
		<string>Mariana Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MHMSL</string>
		<key>value</key>
		<string>Marshall Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MQ000</string>
		<key>value</key>
		<string>Martinique</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MRMTN</string>
		<key>value</key>
		<string>Mauritania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MUMAU</string>
		<key>value</key>
		<string>Mauritius</string>
	</dict>
	<dict>
		<key>code</key>
		<string>YT000</string>
		<key>value</key>
		<string>Mayotte</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MXMEX</string>
		<key>value</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FM000</string>
		<key>value</key>
		<string>Micronesia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MDMOL</string>
		<key>value</key>
		<string>Moldova</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MCMCO</string>
		<key>value</key>
		<string>Monaco</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MNMON</string>
		<key>value</key>
		<string>Mongolia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MEMTG</string>
		<key>value</key>
		<string>Montenegro</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MSMSR</string>
		<key>value</key>
		<string>Montserrat</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MAMOR</string>
		<key>value</key>
		<string>Morocco</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MZMOZ</string>
		<key>value</key>
		<string>Mozambique</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MMBUR</string>
		<key>value</key>
		<string>Myanmar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NANAM</string>
		<key>value</key>
		<string>Namibia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NRNAU</string>
		<key>value</key>
		<string>Nauru</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NPNEP</string>
		<key>value</key>
		<string>Nepal</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NLNET</string>
		<key>value</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NCNCA</string>
		<key>value</key>
		<string>New Caledonia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NZNZE</string>
		<key>value</key>
		<string>New Zealand</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NINIC</string>
		<key>value</key>
		<string>Nicaragua</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NENER</string>
		<key>value</key>
		<string>Niger</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NGNIG</string>
		<key>value</key>
		<string>Nigeria</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NUNIU</string>
		<key>value</key>
		<string>Niue</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NFNFK</string>
		<key>value</key>
		<string>Norfolk Island</string>
	</dict>
    <dict>
		<key>code</key>
		<string>KPKON</string>
		<key>value</key>
		<string>North Korea (Dem People&apos;s Rep)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>00MNA</string>
		<key>value</key>
		<string>Northern Mariana Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NONOR</string>
		<key>value</key>
		<string>Norway</string>
	</dict>
	<dict>
		<key>code</key>
		<string>OMOMA</string>
		<key>value</key>
		<string>Oman</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PKPAK</string>
		<key>value</key>
		<string>Pakistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PW000</string>
		<key>value</key>
		<string>Palau</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PAPAN</string>
		<key>value</key>
		<string>Panama</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PGPNG</string>
		<key>value</key>
		<string>Papua New Guinea</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PYPAR</string>
		<key>value</key>
		<string>Paraguay</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PEPER</string>
		<key>value</key>
		<string>Peru</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PHPHI</string>
		<key>value</key>
		<string>Philippines</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PNPIT</string>
		<key>value</key>
		<string>Pitcairn Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PLPOL</string>
		<key>value</key>
		<string>Poland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PTPGL</string>
		<key>value</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PRPRI</string>
		<key>value</key>
		<string>Puerto Rico</string>
	</dict>
	<dict>
		<key>code</key>
		<string>QAQAT</string>
		<key>value</key>
		<string>Qatar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>REREU</string>
		<key>value</key>
		<string>Reunion</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RORMN</string>
		<key>value</key>
		<string>Romania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RURUS</string>
		<key>value</key>
		<string>Russia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>RWRWA</string>
		<key>value</key>
		<string>Rwanda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BQ000</string>
		<key>value</key>
		<string>Saint Eustatius</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SHSHE</string>
		<key>value</key>
		<string>Saint Helena</string>
	</dict>
	
	<dict>
		<key>code</key>
		<string>KNSCN</string>
		<key>value</key>
		<string>Saint Kitts and Nevis</string>
	</dict>
    <dict>
		<key>code</key>
		<string>LCSLU</string>
		<key>value</key>
		<string>Saint Lucia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PMSPM</string>
		<key>value</key>
		<string>Saint Pierre and Miquelon</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VCSVG</string>
		<key>value</key>
		<string>Saint Vincent and Grenadines</string>
	</dict>
	<dict>
		<key>code</key>
		<string>WSSAW</string>
		<key>value</key>
		<string>Samoa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SM000</string>
		<key>value</key>
		<string>San Marino</string>
	</dict>
	<dict>
		<key>code</key>
		<string>STSTP</string>
		<key>value</key>
		<string>Sao Tome and Principe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SASAU</string>
		<key>value</key>
		<string>Saudi Arabia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SNSEN</string>
		<key>value</key>
		<string>Senegal</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CSSEM</string>
		<key>value</key>
		<string>Serbia (Rep)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SCSEY</string>
		<key>value</key>
		<string>Seychelles</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SLSLE</string>
		<key>value</key>
		<string>Sierra Leone</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SX000</string>
		<key>value</key>
		<string>Sint Maarten</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SKSLV</string>
		<key>value</key>
		<string>Slovakia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SISLO</string>
		<key>value</key>
		<string>Slovenia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SBSOL</string>
		<key>value</key>
		<string>Solomon Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SOSOM</string>
		<key>value</key>
		<string>Somalia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ZASAF</string>
		<key>value</key>
		<string>South Africa</string>
	</dict>
    <dict>
		<key>code</key>
		<string>KRKOS</string>
		<key>value</key>
		<string>South Korea (Rep)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ESSPA</string>
		<key>value</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LKSRI</string>
		<key>value</key>
		<string>Sri Lanka</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SDSUD</string>
		<key>value</key>
		<string>Sudan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SRSUR</string>
		<key>value</key>
		<string>Suriname</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SZSWA</string>
		<key>value</key>
		<string>Swaziland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SESWE</string>
		<key>value</key>
		<string>Sweden</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CHSWI</string>
		<key>value</key>
		<string>Switzerland</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SYSYR</string>
		<key>value</key>
		<string>Syrian Arab Republic</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TWTAI</string>
		<key>value</key>
		<string>Taiwan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TJTAJ</string>
		<key>value</key>
		<string>Tajikistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TZTAN</string>
		<key>value</key>
		<string>Tanzania (United Rep)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>THTHA</string>
		<key>value</key>
		<string>Thailand</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TLETM</string>
		<key>value</key>
		<string>Timor-Leste (Dem Rep)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TGTOG</string>
		<key>value</key>
		<string>Togo</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TKTKL</string>
		<key>value</key>
		<string>Tokelau</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TOTON</string>
		<key>value</key>
		<string>Tonga</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VGTOR</string>
		<key>value</key>
		<string>Tortola (British Virgin Islands)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TTTND</string>
		<key>value</key>
		<string>Trinidad and Tobago</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SHTDC</string>
		<key>value</key>
		<string>Tristan da Cunha</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TNTUN</string>
		<key>value</key>
		<string>Tunisia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TRTUR</string>
		<key>value</key>
		<string>Turkey</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TMTKM</string>
		<key>value</key>
		<string>Turkmenistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TCTCA</string>
		<key>value</key>
		<string>Turks and Caicos Islands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TVTUV</string>
		<key>value</key>
		<string>Tuvalu</string>
	</dict>
    <dict>
		<key>code</key>
		<string>AEUAE</string>
		<key>value</key>
		<string>UAE (United Arab Emirates)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UGUGA</string>
		<key>value</key>
		<string>Uganda</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UAUKR</string>
		<key>value</key>
		<string>Ukraine</string>
	</dict>
	
	<dict>
		<key>code</key>
		<string>GBUKI</string>
		<key>value</key>
		<string>United Kingdom</string>
	</dict>
	<dict>
		<key>code</key>
		<string>USUSA</string>
		<key>value</key>
		<string>United States</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UYURU</string>
		<key>value</key>
		<string>Uruguay</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UZUZB</string>
		<key>value</key>
		<string>Uzbekistan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VUVAN</string>
		<key>value</key>
		<string>Vanuatu</string>
	</dict>
    <dict>
		<key>code</key>
		<string>VAVAT</string>
		<key>value</key>
		<string>Vatican</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VEVEN</string>
		<key>value</key>
		<string>Venezuela</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VNVIE</string>
		<key>value</key>
		<string>Viet Nam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VIVIA</string>
		<key>value</key>
		<string>Virgin Islands (USA)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>00WAK</string>
		<key>value</key>
		<string>Wake Islands (USA)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>00WFU</string>
		<key>value</key>
		<string>Wallis and Futuna</string>
	</dict>
	<dict>
		<key>code</key>
		<string>YEYAR</string>
		<key>value</key>
		<string>Yemen</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ZMZAM</string>
		<key>value</key>
		<string>Zambia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ZWZIM</string>
		<key>value</key>
		<string>Zimbabwe</string>
	</dict>
</array>
</plist>
