<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>P</string>
		<key>value</key>
		<string>PO Box</string>
	</dict>
	<dict>
		<key>code</key>
		<string>W</string>
		<key>value</key>
		<string>Window Delivery</string>
	</dict>
	<dict>
		<key>code</key>
		<string>B</string>
		<key>value</key>
		<string>Locked Bag</string>
	</dict>
</array>
</plist>
