<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mogernrator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SingPost_Prod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SingPost_SIT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SingPost_UAT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>244DEA2519ED28A300F07A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24AD38A21A399D180088F6A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F43BBE19EBAD1E00F28F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F43C5E19EBF1A300F28F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521B171C17F1633000FEB6FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
