<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Calculate Postage</string>
		<key>image</key>
		<string>sidebar_calculatePostage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Find Postal Codes</string>
		<key>image</key>
		<string>sidebar_findPostalCodes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Locate Us</string>
		<key>image</key>
		<string>sidebar_locateUs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Send &amp; Receive</string>
		<key>image</key>
		<string>sidebar_sendReceive</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pay</string>
		<key>image</key>
		<string>sidebar_pay</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shop</string>
		<key>image</key>
		<string>sidebar_shop</string>
	</dict>
	<dict>
		<key>name</key>
		<string>More services</string>
		<key>image</key>
		<string>sidebar_moreServices</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stamp Collectibles</string>
		<key>image</key>
		<string>sidebar_stampCollectibles</string>
	</dict>
	<dict>
		<key>name</key>
		<string>More Apps</string>
		<key>image</key>
		<string>sidebar_moreApps</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Offers &amp; More</string>
		<key>image</key>
		<string>sidebar_offersMore</string>
	</dict>
</array>
</plist>
